//
//  Common (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
  .panel {
    background-color: @color-primary;
    color: @color-white;

    & a {
      color: @color-white;
    }

    & .panel_more {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .authorization-link {
    content: ' ';
    display: inline-block;
    background-image: url("../images/sprite-header-toolbar.png");
    background-repeat: no-repeat;

    & a {
      display: block;
      text-align: center;
      height: 100%;

      & p {
        font-size: 10px;
        color:@color-black;
      }
    }
  }

  .minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 35px;
    line-height: 33px;
    color: #8f8f8f;
    content: ' ';
    background-image: url("../images/sprite-header-toolbar.png");
    //width: 40px;
    //height: 30px;
    //background-size: 225px;
    background-repeat: no-repeat;

    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
  }
}

//
//Mobile
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .header.content {
    position: relative;
  }
  .header_more {
    .lib-visually-hidden();
  }

  .panel_msg p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
  }

  .logo img {
    margin-left: 10%;
    width: 150px;
    height: 35px;

  }
  .field.search div.control {
    padding: 0;

  }

  .field.search input[type="text"] {
    margin: 0;
    height: 40px;
    width: 100%;
    border: none;
    padding-left: 50px;
    font-size: 14px;
    position: static;

  }
  .field.search .label {
    position: absolute;
    top: 60px;
    left: 7px;
  }
  .authorization-link {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 25px;
    background-size: 180px;
     & p {
        display: none;
     }
  }
  .minicart-wrapper .action.showcart:before {
    position: absolute;
    right: -5px;
    bottom: 4px;
    width: 40px;
    height: 25px;
    background-size: 180px;
    background-position: -145px 0;
  }

  .minicart-wrapper {
    & p {
      display: none;
    }
  }
}


//
//Desktop
//

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  div.panel.header {
    display: flex;
    align-items: center;
    height: 30px;

  }
  .header_panel--text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
  }

  .header.content {
    display: flex;
    justify-content: space-between;
  }

  .block-search {
    width: 30%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .block-search .action.search {
    position: absolute;
    left: 20px;
    bottom: 30px;
  }
  .field.search input[type="text"] {
    padding-left: 30px;
  }
  .authorization-link {
    position: absolute;
    right: 100px;
    width: 50px;
    height: 30px;
    background-size: 225px;

    & a p {
      position: absolute;
      top:33px;
      font-size: 14px;
    }
  }
  .minicart-wrapper .action.showcart:before {
    position: absolute;
    right: 5px;
    bottom: 50px;
    width: 50px;
    height: 30px;
    background-size: 215px;
    background-position: -185px 0;
  }

  .minicart-wrapper {
    & p {
      position: absolute;
      top:33px;
      right: 20px;
      color:@color-black;
      font-size: 14px;
    }
  }
}



