//
//  Common (style-m.css)
//  _____________________________________________
& when (@media-common = true) {
  .base {
    font-weight: bold;
  }
  .product.attribute.description {
    border-bottom: 1px solid @color-gray-light01;
  }
  .product-options-wrapper {
    display: flex;
  }

  .swatch-opt  {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-options-bottom {
    .cart__number {
      border: 1px solid grey;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      color:@color-white;
      background-color: @color-footer-grey;
      font-weight: bold;
      font-size: 18px;
      margin-top: 20px;


      & p {
        padding-top: 4px;
      }
    }

    .field.qty {
      position: absolute;
      top:210px;
      left: 27%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    div.control{
      display: flex;
      flex-direction: column;

      & .label {
        text-align: center;
        text-transform: uppercase;
      }

      & input {
        border: none;
        font-size: 24px;
        height: 40px;

      }
    }
    .tocart__free-shipping {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      & a {
        text-transform: uppercase;
        color:@color-nav;
        font-weight: bold;
      }
    }
    .action.primary.tocart {
      background-color: @color-cart-red;
      text-transform: uppercase;
      border:none;
      font-size: 14px;
    }
  }
  .product-addto-links {

    padding-bottom: 20px;

    .action.towishlist  {
      text-transform: uppercase;
      color:@color-cart-red;
      border: 1px solid @color-cart-red;
      border-radius:5px;
      padding: 12px;
      font-size: 14px;
      font-weight: bold;
    }
  }
.product.attribute.description {
  & .value p:not(:first-child) {
    display: none;
  }
}
  .description_product {
    position: relative;
  }
    .description__link {
      background-color: #efefeb;
      & ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        & li {
          padding: 10px;
          font-weight: bold;
          color:@color-black;

      }
    }
      &-items {
        padding: 0;
      }
  }
}


//_________Mobile

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .product-options-wrapper {
    height: 300px;
    justify-content: center;
  }
  .product-add-form {
    position: relative;
  }

}


//___Desktop

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .product-options-wrapper {
    height: 250px;
    justify-content: start;
  }

.swatch-attribute {
  &.color  {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &.size {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &-options {
    padding-left: 80px;
  }
  &-selected-option {
    position: absolute;
    top:20px;
  }
}
.color {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
  .product-add-form {
    position: relative;
  }
  .product-info-main,
  .product-options-bottom {
    .box-tocart {
      display: table;

      .field.qty {
        display: flex;
        flex-direction: row-reverse;
        top:150px;
        left:2px;
      }

      .actions {
        display: table-cell;
        padding-top: @indent__m;
        text-align: center;
        vertical-align: bottom;
      }
    }
  }
  .tocart__shipping-link {
    padding-right: 5px;

    &::before {
      content: ' ';
      width: 35px;
      height: 15px;
      margin-right: 4px;
      display: inline-block;
      background-image: url("../images/ico-car-blue.png");
      background-size: 35px;
      background-repeat: no-repeat;
    }
  }
  .action.primary.tocart {
    width: 300px;
  }
  .product-addto-links {
    display: flex;
    justify-content: start;
  }

  .description_product {
    float:none;
    clear: both;
  }
}